<!doctype html>

<html lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SmartHOME by ClfBV</title>
  <meta name="author" content="ClFbV" />
  <meta name="description" content="SmartHOME" />
  <meta name="keywords" content="" />

  <link rel="stylesheet" href="{{ static_url("style.css") }}">
  <link rel="stylesheet" href="{{ static_url("left-nav-style.css") }}">

</head>

<body>

<input type="checkbox" id="nav-toggle" hidden>

<nav class="nav">


  <label for="nav-toggle" class="nav-toggle" onclick></label>

  <h2 class="logo">
    <a href="">ClFbV.cf</a>
  </h2>
  <ul>


    <li><a href="/root">Home</a></li>
    <li><a href="/lights">Lights</a></li>
    <li><a href="/aircon">Airconditioning</a></li>
    <li><a href="/tvcon">TV-Controller</a></li>
    <li><a href="/sensors">Sensors</a></li>
    <li><a href="/facil">Facilities</a></li>
    <li><a href="/sec">Security</a></li>

  </ul>
</nav>
<p STYLE="text-align: center" >
<font size="20">Kitchen
</font>
<p style="text-align: left">
  <font size="6">Dishwasher</font>

  <label class="switch">
    <input type="checkbox" checked >
    <span class="slider round"></span>
  </label>
</p>


<p style="text-align: left">
  <font size="6">Oven</font>
  <label class="switch">
    <input type="checkbox" checked>
    <span class="slider round"></span>
  </label>
</p>

<p style="text-align: left">
  <font size="6">Hob</font>
  <label class="switch">
    <input type="checkbox" checked>
    <span class="slider round"></span>
  </label>
</p>


<div class="container">
  <div class="led-box">
    <div class="led-green"></div>

  </div>

  <div class="led-box">
    <div class="led-red"></div>

  </div>







</body>
</html>
