
<!doctype html>

<html lang="it">
<!--<![endif]-->

<head>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SmartHOME by ClfBV</title>
  <meta name="author" content="ClFbV" />
  <meta name="description" content="SmartHOME" />
  <meta name="keywords" content="" />

  <link rel="stylesheet" href="{{ static_url("style.css") }}">
<link rel="stylesheet" href="{{ static_url("left-nav-style.css") }}">

</head>

<body>

<input type="checkbox" id="nav-toggle" hidden>

<nav class="nav">


  <label for="nav-toggle" class="nav-toggle" onclick></label>

  <h2 class="logo">
    <a href="http://moxnet.tk">ClFbV.cf</a>
  </h2>
  <ul>

    <li><a href="/root">Home</a></li>
    <li><a href="/lights">Lights</a></li>
    <li><a href="/aircon">Airconditioning</a></li>
    <li><a href="/tvcon">TV-Controller</a></li>
    <li><a href="/sensors">Sensors</a></li>
    <li><a href="/facil">Facilities</a></li>
    <li><a href="/sec">Security</a></li>
  </ul>
</nav>
<p STYLE="text-align: center" >
  <font size="20">Living Room
  </font>
</p>
<p style="text-align: center">
  <label class="btcheck" style="background-image: url('/static/light_office_desk.png')" for="myonoffswitchi" onclick="uction()"></label>
  <input type="checkbox" name="onoffswitchi" class="onoffswitch-checkbox" id="myonoffswitchi" checked>
</p><p style="text-align: center">

  <label class="btcheck" style="background-image: url('/static/light_floor_lamp.png')" for="myonoffswitchm" onclick="unction()"></label>
  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitchm" checked>
</p><p style="text-align: center">

  <label class="btcheck" style="background-image: url('/static/light_downlight.png')" for="myonoffswitch" onclick="uncion()"></label>
  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
</p>


<script>
    function uction() {
        var checBox = document.getElementById("myonoffswitchi");
        var text = document.getElementById("text");
        if (checBox.checked == true){
            alert("Luce Accesa");
        } else {
            alert("Luce Spenta");
            cheBox.checked == true;
        }
    }
    function uncion() {
        var checBox = document.getElementById("myonoffswitch");
        var text = document.getElementById("text");
        if (checBox.checked == true){
            alert("Luce Accesa");
        } else {
            alert("Luce Spenta");
            cheBox.checked == true;
        }
    }
    function unction() {
        var checBox = document.getElementById("myonoffswitchm");
        var text = document.getElementById("text");
        if (checBox.checked == true){
            alert("Luce Accesa");
        } else {
            alert("Luce Spenta");
            cheBox.checked == true;
        }
    }
</script>




</body>
</html>