
<!doctype html>

<html lang="it" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SmartHOME by ClfBV</title>
  <meta name="author" content="ClFbV" />
  <meta name="description" content="SmartHOME" />
  <meta name="keywords" content="" />

  <link rel="stylesheet" href="{{ static_url("style.css") }}">
  <link rel="stylesheet" href="{{ static_url("left-nav-style.css") }}">

</head>

    <input type="checkbox" id="nav-toggle" hidden>

    <nav class="nav">


      <label for="nav-toggle" class="nav-toggle" onclick></label>

      <h2 class="logo">
        <a href="http://moxnet.tk">ClFbV.cf</a>
      </h2>

      <ul>

          <li><a href="/root">Home</a></li>
          <li><a href="/lights">Lights</a></li>
          <li><a href="/aircon">Airconditioning</a></li>
          <li><a href="/tvcon">TV-Controller</a></li>
          <li><a href="/sensors">Sensors</a></li>
          <li><a href="/facil">Facilities</a></li>
          <li><a href="/sec">Security</a></li>

      </ul>

    </nav>

    <style>
        #overlay {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.8);
            z-index: 2;
            cursor: pointer;
        }
    </style>
    </head>
    <body>

    <div id="overlay" >



            <li style="text-align: center">
            <button onclick="on()" class="btcheck" style="background-image:url('/static/edit_numeric_1.png')" ></button>
            <button onclick="on()" class="btcheck" style="background-image:url('/static/edit_numeric_2.png')" ></button>
            <button onclick="on()" class="btcheck" style="background-image:url('/static/edit_numeric_3.png')" ></button>
            </li>
            <li style="text-align: center">
            <button onclick="on()" class="btcheck" style="background-image:url('/static/edit_numeric_4.png')" ></button>
            <button onclick="on()" class="btcheck" style="background-image:url('/static/edit_numeric_5.png')" ></button>
            <button onclick="on()" class="btcheck" style="background-image:url('/static/edit_numeric_6.png')" ></button>
            </li>
            <li style="text-align: center">
            <button onclick="on()" class="btcheck" style="background-image:url('/static/edit_numeric_7.png')" ></button>
            <button onclick="on()" class="btcheck" style="background-image:url('/static/edit_numeric_8.png')" ></button>
            <button onclick="on()" class="btcheck" style="background-image:url('/static/edit_numeric_9.png')" ></button>
            </li>
            <li style="text-align: center">
            <button onclick="off()" class="btcheck" style="background-image:url('/static/edit_numeric_0.png')" ></button>
            </li>





    </div>

    <div style="text-align: center ; padding:20px">

        <button onclick="on()" class="btcheck" style="background-image:url('/static/edit_input_numeric.png')" ></button>
    </div>

    <script>
        function on() {
            document.getElementById("overlay").style.display = "block";
        }

        function off() {
            document.getElementById("overlay").style.display = "none";
        }
    </script>




</body>
</html>
