<!doctype html>

<html lang="it">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SmartHOME by ClfBV</title>
  <meta name="author" content="ClFbV" />
  <meta name="description" content="SmartHOME" />
  <meta name="keywords" content="" />

  <link rel="stylesheet" href="{{ static_url("style.css") }}">
  <link rel="stylesheet" href="{{ static_url("left-nav-style.css") }}">

</head>

<body>

<input type="checkbox" id="nav-toggle" hidden>

<nav class="nav">


  <label for="nav-toggle" class="nav-toggle" onclick></label>

  <h2 class="logo">
    <a href="http://moxnet.tk">ClFbV.cf</a>
  </h2>

    <ul>

      <li><a href="/root">Home</a></li>
      <li><a href="/lights">Lights</a></li>
        <li><a href="/aircon">Airconditioning</a></li>
        <li><a href="/tvcon">TV-Controller</a></li>
        <li><a href="/sensors">Sensors</a></li>
        <li><a href="/facil">Facilities</a></li>
        <li><a href="/sec">Security</a></li>
    </ul>

              </nav>
<p STYLE="text-align: left" >
  <font size="6">Blinds
  </font>
</p>
<p STYLE="text-align: center">


  <input type="button"  class="btn">



  <style>
    .btn{
      width: 100px;
      height: 100px;
      background-color: #1abc9c;
      background-repeat: no-repeat;
      background-image: url("/static/control_arrow_upward.png");
      background-position: center center;
      background-size: cover;
      bottom: 150px;
    }
  </style>
</p>


<p STYLE="text-align: center">





  <input type="button" class="btm" >



  <style>
    .btm{
      width: 100px;
      height: 100px;
      background: #1abc9c no-repeat center center;
      background-image: url("/static/control_arrow_downward.png");
      background-size: cover;
      bottom: 150px;
    }
  </style>
</p>
<p style="text-align: left">
  <input class="btr"type="button" onclick="alert('Apertura tapparelle impostata')">
  <input class="btz"  type="time" name="usr_time">
<p style="text-align: right">



  <style>
    .click{
      right: 300px;
    }
    .btz{
      width: 100px;
      height: 45px;
      background-color: #ffffff;
      background-repeat: no-repeat;
      bottom: 150px;
      right: 100px;
    }
  </style>



<p style="text-align: left">
  <input class="btp" type="button" onclick=" alert('Chiusura tapparelle impostata')">
  <input class="btz"  type="time" name="usr_time">
</p>




<style>
  .btz{
    width: 150px;
    height: 45px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    bottom: 150px;
    right: 100px;
  }
  .btr {
    width: 100px;
    height: 100px;
    background-color: #1abc9c;
    background-repeat: no-repeat;
    background-image: url("/static/fts_shutter.png");
    background-position: center center;
    background-size: cover;
    bottom: 150px;
    right: 100px;
  }
  .btp { width: 100px;
    height: 100px;
    background-color: #1abc9c;
    background-repeat: no-repeat;
    background-image: url("/static/fts_shutter_80.png");
    background-position: center center;
    background-size: cover;
    bottom: 150px;
    right: 100px;
  }
  #demo {
    width: 200px;
  }
</style>
              <p style="text-align: left">
                <font size="6">CH4</font>
                <label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider round"></span>
                </label>
              </p>

<!--<! TODO  include  stas -->
              <p style="text-align: left">
                <font size="6">H20</font>
                <label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider round"></span>
                </label>
              </p>








</body>
</html>
