<!doctype html>

<html lang="it">


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SmartHOME by ClfBV</title>
  <meta name="author" content="ClFbV" />
  <meta name="description" content="SmartHOME" />
  <meta name="keywords" content="" />

  <link rel="stylesheet" href="{{ static_url("style.css") }}">
  <link rel="stylesheet" href="{{ static_url("left-nav-style.css") }}">

</head>

<body>

<input type="checkbox" id="nav-toggle" hidden>

<nav class="nav">

  <label for="nav-toggle" class="nav-toggle" onclick></label>

  <h2 class="logo">
    <a href="https://farmaciaghezzo.wordpress.com/">Farmacia</a>
  </h2>

  <ul>
    <li><a href="{{ static_url("index%231.html") }}">Kitchen</a></li>
    <li><a href="{{ static_url("index%232.html") }}">Bedrooms</a></li>
    <li><a href="{{ static_url("index%233.html") }}">Laundry</a></li>
    <li><a href="{{ static_url("index%234.html") }}">Living Room</a></li>
    <li><a href="{{ static_url("index%235.html") }}">Entrance</a></li>
    <li><a href="{{ static_url("index%236.html") }}">Facilities</a></li>
    <li><a href="{{ static_url("index%238.html") }}">Sensori</a></li>
    <li><a href="{{ static_url("index%237.html") }}">Security</a></li>
  </ul>

</nav>

<main role="main">
  <article>
    <header>
      <h1 class="header__title">ClFbV</h1>
      <h2>SmartHOME</h2>
    </header>
    <section>
      <p style="text-align: center;">

        <a href="index.html" class="btn btn-primary">Home</a>

      <p style="text-align: center">

      </p>
      </a>




    </section>

    <footer>


    </footer>
  </article>
</main>
</body>

</html>
