<!doctype html>

<html lang="it">
<!--<![endif]-->

<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SmartHOME by ClfBV</title>
    <meta name="author" content="ClFbV" />
    <meta name="description" content="SmartHOME" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{{ static_url("style.css") }}">
    <link rel="stylesheet" href="{{ static_url("left-nav-style.css") }}">

</head>

<body>
<!--
 checkbox nascosto, che regola l-apertura o chiusura del panello, deve trovarsi nella parte superiore del documento, meglio subito dopo il tag `<body>`

`id` attributo serve per collegare il bottone al attributo  `for` del tag<label>

attributo `hidden` indica che inizialmente elemento è nascosto
-->
<input type="checkbox" id="nav-toggle" hidden>
<!--
Panello uscente posizioniamo sotto il checkbox, ma non obbligatoriamente subito sotto, posiamo metterlo anche in fondo della pagina
-->
<nav class="nav">
    <!--
  Nome di`id` di checkbox nel atributo `for`
  Simbolo Unicode 'TRIGRAM FOR HEAVEN' (U+2630)
  -->
    <label for="nav-toggle" class="nav-toggle" onclick></label>
    <!--
  Qui posiamo mettere qualsiasi contenuto nel nostro caso un menu realizzato in base del elenco non numerato <ul>
  -->
    <h2 class="logo">
        <a href="">ClFbV.cf</a>
    </h2>
    <ul>

        <li><a href="/root">Home</a></li>
        <li><a href="/lights">Lights</a></li>
        <li><a href="/aircon">Airconditioning</a></li>
        <li><a href="/tvcon">TV-Controller</a></li>
        <li><a href="/sensors">Sensors</a></li>
        <li><a href="/facil">Facilities</a></li>
        <li><a href="/sec">Security</a></li>


    </ul>
</nav>


<main role="main">
    <article>
        <header>
            <h1 class="header__title">ClFbV</h1>
            <h2>SmartHOME</h2>
        </header>
        <section>
            <p style="text-align: center;">
                <a id='wdgt_5b87092c0569824d3e8b4567' href='https://www.3bmeteo.com/meteo/chieri/'>Meteo Chieri</a>
                <script type="text/javascript">
                    var wid='5b87092c0569824d3e8b4567';
                    (function() {
                        var wdgt = document.createElement('script'); wdgt.type = 'text/javascript'; wdgt.async = true;
                        wdgt.src = '//widget.3bmeteo.com/widget.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wdgt, s);
                    })();
                </script>
            </p>
            <p style="text-align: center;">
                <a href="/logout" class="btn btn-primary">Logout</a>



            </p>








            <footer>

                <footer>


    </article>
</main>
</body>

</html>
